<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <script defer src="javascript/loadProducts.js" ></script>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/control-pannel.css">
</head>
<body onload="loadProducts()">
    <h1>Products</h1>
    <table>
        <tr id="t_header">
        </tr>
    </table>
    <div id="control_pannel">
        <button id="prev" onclick="loadProducts(-1)"><</button>
        <button id="next" onclick="loadProducts(1)">></button>
        <a href="/register"><button>Register a product</button></a>
    </div>
</body>
</html>
