<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/control-pannel.css">
    <link rel="stylesheet" href="css/form.css">
    <script src="javascript/loadSingleProduct.js" defer></script>
    <script src="javascript/updateProduct.js" defer></script>
    <script src="javascript/stockForm.js" defer></script>
</head>
<body>
    <h1>Product Page</h1>
    <form>
        <fieldset>
            <legend>Product</legend>
            <label for="id">Id:</label>
            <input type="text" name="_id" id="id" disabled>
            <label for="model">Product model:</label>
            <input type="text" name="model" id="model" disabled>
            <label for="value">Value: </label>
            <input type="number" name="value" id="value">
            <label for="gender">Gender: </label>
            <input type="text" name="gender" id="gender">
            <label for="warningNumber">Warning Number: </label>
            <input type="number" name="warningNumber" id="warningNumber">
            <input id="submit_form" type="submit" value="Update">
        </fieldset>
    </form>
    <div>
        <form>
            <fieldset>
                <legend>Stock</legend>
                <label for="stock"></label>
                <input type="number" name="stock" id="stock_form" disabled>
                <input type="number" name="io" id="io">
                <button id="add">Add</button>
                <button id="rmv">Remove</button>
            </fieldset>
        </form>
    </div>
    <div id="control_pannel">
        <a href="/"><button>List stock</button></a>
        <a href="/register"><button>Register a product</button></a>
    </div>
</body>
</html>