*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}